* {
  padding: 0px;
  margin: 0px;
}

.FirstContainer {
  width: 95vw;
  height: 95vh;
  position: relative;
  background-color: black;
}

.layer {
  width: 100vw;
  height: 95vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(23, 23, 23, 0.6);
  z-index: 1;
}

.netflixbg {
  width: 100vw;
  height: 95vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.netflixlogo {
  width: 200px;
  height: 100px;
  padding-left: 200px;
}

.navbar {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
}

.signout {
  padding-right: 200px;
}

.signout button {
  padding: 9px;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  border-style: none;
}

.signout button:hover {
  cursor: pointer;
  background-color: #c11119;
}

.FirstContainer span {
  color: white;
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 100%;
  left: 1%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.FirstContainer span:nth-of-type(1) {
  top: 280px;
  font-size: 25px;
}

.FirstContainer span:nth-of-type(2) {
  top: 320px;
  font-size: 45px;
}

.FirstContainer span:nth-of-type(3) {
  top: 390px;
  font-size: 25px;
}

.getstart {
  position: absolute;
  z-index: 4;
  top: 450px;
  transform: translateX(230%);
}

.getstart button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #e50914;
  border-radius: 4px;
  border-style: none;
}

.getstart button:hover {
  cursor: pointer;
  background-color: #c11119;
}

.gaps {
  position: relative;
  width: 100vw;
  height: 10px;
  background-color: rgb(50, 49, 49);
}

.container2 {
  height: 70vh;
  width: 100vw;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1 span:nth-of-type(1) {
  color: white;
  font-size: 44px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.text1 span:nth-of-type(2) {
  padding-top: 10px;
  color: white;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.text1 span:nth-of-type(3) {
  color: white;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.media1 img {
  position: relative;
  z-index: 10;
  width: 650px;
}

.media1 video {
  position: absolute;
  top: 115px;
  left: 825px;
  width: 468px;
  height: 52%;
  border-radius: 5px;
}

.container3 {
  height: 70vh;
  width: 100vw;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text2 span:nth-of-type(1) {
  color: white;
  font-size: 44px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.text2 span:nth-of-type(2) {
  padding-top: 10px;
  color: white;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.text2 span:nth-of-type(3) {
  color: white;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.media2 img:nth-child(1) {
  position: relative;
  z-index: 5;
}
